.header-background {
  background-color: black;
  padding-top: 1%;
}
.header {
  text-emphasis-color: white;
  color: white;
  padding-bottom: 2%;
  text-align: center;
  font: bold;

}
.image {
  height: 90%;
  width: 90%;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
.h2 {
  color: blueviolet;
  font-family: 'Times New Roman', Times, serif;
  font: bold;
  text-align: center;
  font-size:200%;
}

